[submodule "ccNOos"]
	path = ccNOos
	url = https://github.com/InMechaSol/ccNOos.git
[submodule "ccOS"]
	path = ccOS
	url = https://github.com/InMechaSol/ccOS.git
[submodule "ccACU"]
	path = ccACU
	url = https://github.com/InMechaSol/ccACU.git
[submodule "uiWeb"]
	path = uiWeb
	url = https://github.com/InMechaSol/uiWeb.git
[submodule "uiDotNet"]
	path = uiDotNet
	url = https://github.com/InMechaSol/uiDotNet.git
[submodule "ccNOos_Tests"]
	path = ccNOos_Tests
	url = https://github.com/InMechaSol/ccNOos_Tests.git
[submodule "ccOS_Tests"]
	path = ccOS_Tests
	url = https://github.com/InMechaSol/ccOS_Tests.git
[submodule "ccACU_Tests"]
	path = ccACU_Tests
	url = https://github.com/InMechaSol/ccACU_Tests.git
